#download-module {
  height: 6rem;
  padding: 1rem 0;
}

#settings-drawer-downloads {
  padding: 0 .9rem 0 1.5rem;
  color: #4d4d4d;
  font: italic 1.7rem/4rem none;
  text-decoration: none;
  display: block;
  height: 4rem;
  position: relative;
}

#settings-drawer-downloads .chevron {
  font-size: 2.4rem;
  color: #858585;
  width: 2.4rem;
  right: 0;
  height: 4rem;
  position: absolute;

  /* Icons related rules */
  font-family: 'gaia-settings-drawer-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
}

#settings-drawer-downloads .chevron:before {
  content: "\e600";
}
