html {
  font-size: 10px;
}

body {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

* {
  -moz-user-select: none;
}

#panels {
  height: 100vh;
  overflow-y: hidden;
  scroll-snap-type-x: mandatory;
  scroll-snap-points-x: repeat(100vw);
  white-space: nowrap;
}

.dragging #panels {
  overflow: hidden;
}

#panels > * {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  vertical-align: top;
}
